<a href="https://colab.research.google.com/github/dan9133/DPY_1006_Mandadtory_Project/blob/main/DPY_1006_Mandatory_Pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**"""You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1
are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita.
 Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function."""**

In [ ]:
list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Saritha"]
list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

result = []

for name in list1:
    if name in list2:
        result.append(name)

print("The common names in both lists are:", result)

The common names in both lists are: ['Mahesh', 'Ali', 'Jacob']

**"""
Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age."""**

In [ ]:
names = "Ramesh Suresh Mohit"
names_list = names.split(" ")

ages = {}
for name in names_list:
    age = int(input("Enter age for " + name + ": "))
    ages[name] = age

print("The ages of the individuals are:", ages)

Enter age for Ramesh: 27
Enter age for Suresh: 25
Enter age for Mohit: 23
The ages of the individuals are: {'Ramesh': 27, 'Suresh': 25, 'Mohit': 23}

**Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct**
"""
**

In [ ]:
students = ["Sam", "Jacy", "Tom", "Steve"]

python_scores = [25, 26, 29, 28]
statistics_scores = [23, 21, 19, 25]
sql_scores = [29, 27, 28, 25]

student_scores = {}

for i, student in enumerate(students):
    student_scores[student] = (python_scores[i] + statistics_scores[i] + sql_scores[i]) / 3

max_mean_student = max(student_scores, key=student_scores.get)

print("The student with the highest mean score is:", max_mean_student)

max_python_score = max(python_scores)
max_python_student = students[python_scores.index(max_python_score)]

print("The student with the highest score in Python is:", max_python_student)

The student with the highest mean score is: Steve
The student with the highest score in Python is: Tom

**"""You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient? """**

In [ ]:
# Medicine costs
cost_paracetamol = 35  # Cost of one strip of Paracetamol
cost_azithromycin = 49  # Cost of one strip of Azithromycin
cost_vitamin_c = 33    # Cost of one strip of Vitamin C

# Quantity of each medicine
quantity_paracetamol = 2
quantity_azithromycin = 3
quantity_vitamin_c = 5

# Calculate total cost of each medicine
total_cost_paracetamol = cost_paracetamol * quantity_paracetamol
total_cost_azithromycin = cost_azithromycin * quantity_azithromycin
total_cost_vitamin_c = cost_vitamin_c * quantity_vitamin_c

# Calculate total cost of all medicines
total_cost_all_medicines = (
    total_cost_paracetamol + total_cost_azithromycin + total_cost_vitamin_c
)

# Given amount by the patient
amount_given = 2000

# Calculate amount refunded to the patient
amount_refunded = amount_given - total_cost_all_medicines

# Print the results
print("Total cost of Paracetamol:", total_cost_paracetamol)
print("Total cost of Azithromycin:", total_cost_azithromycin)
print("Total cost of Vitamin C:", total_cost_vitamin_c)
print("Total cost of all medicines:", total_cost_all_medicines)
print("Amount refunded to the patient:", amount_refunded)

Total cost of Paracetamol: 70
Total cost of Azithromycin: 147
Total cost of Vitamin C: 165
Total cost of all medicines: 382
Amount refunded to the patient: 1618

**"""Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences."""**

In [ ]:
def count_vowels(sentence):
    vowels = "aeiouAEIOU"
    count = 0
    for char in sentence:
        if char in vowels:
            count += 1
    return count
sentence = "I am learning python"
print("The number of vowels in the sentence is:", count_vowels(sentence))

The number of vowels in the sentence is: 6

**"""You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years"""**

In [ ]:

import datetime

def check_eligibility(birth_year):
    current_year = datetime.datetime.now().year
    age = current_year - birth_year
    if age >= 18:
        return "Congrats! You are eligible"
    else:
        return "Sorry, you have to wait for " + str(18 - age) + " more years to be eligible for voting."

birth_year = 1998
print(check_eligibility(birth_year))

Congrats! You are eligible